@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;
	text-decoration: none;
	font-size: 2rem;
	background-color: white;
	color: black;
	font-weight: 500;
    

}

html {	
		font-size: 62.5%;
}

h1 {
		font-size: 6rem; 
}
h2 {	
		font-size: 3rem;
}
h3 {	
		font-size: 2rem;
	}

.scale:hover{
	transform: scale(1.8);
	cursor: pointer;
	transition: transform 3s;
}

