@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;500&display=swap');

$fontMain:'Raleway', sans-serif;
$fontSecondary:'Raleway', sans-serif;

// variables para los textos
$textXl:6rem;
$textLg:3rem;
$textMd:2rem;
$textSm:1rem;

$d-flex:flex;

$sizeFont3 : 200;
$sizeFont2 : $sizeFont3 + 100;
$sizeFont1 : $sizeFont2 + 200;

h1 {
		font-size: $textXl; 
		font-weight: $sizeFont1; 
}
h2 {	
		font-size: $textLg;
		font-weight: $sizeFont2; 
}

h3 {	
		font-size: $textMd;
		font-weight: $sizeFont3; 
	}
